@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 10% 3.9%;

    --card: 240 10% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 16 98% 54%; /* #f34723 */
    --primary-foreground: 0 0% 100%;

    --secondary: 220 71% 17%; /* #042654 */
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 16 98% 54%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 71% 10%; /* Darker variant of #042654 */
    --foreground: 0 0% 98%;

    --card: 220 71% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 220 71% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 16 98% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 16 98% 44%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 71% 14%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 220 71% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 71% 20%;
    --input: 220 71% 14%;
    --ring: 16 98% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
